<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uploadGCRC.Properties.Settings.ConnectionString" connectionString="Dsn=dinamap;uid=u70601397;pwd=1f9142"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>